---
interface Props {
  name: string;
  desc: string;
  url: string;
  tech?: string;
}

const { name, desc, url, tech } = Astro.props;

import GithubButton from "../buttons/GithubButton.astro";
---

<li class="p-4 basis-full sm:basis-1/2 lg:basis-1/3">
  <div class="card p-4">
    <h5 class="primary-color link"><a href={url}>{name}</a></h5>
    <p class="mt-2 secondary-color">{desc}</p>
    <div class="mt-4">
      <GithubButton type="star" target={url} />
    </div>
  </div>
</li>
