---
import GithubButton from "@components/buttons/GithubButton.astro";

interface Props {
  name: string;
  desc: string;
  url: string;
}

const { name, desc, url } = Astro.props;
---

<li>
  <div class="card h-full flex flex-col">
    <h5>{name}</h5>
    <p class="mt-2 flex-grow">{desc}</p>
    <div class="mt-4">
      <GithubButton type="star" target={url} />
    </div>
  </div>
</li>
