---
interface Props {
  name: string;
  desc: string;
  url: string;
  tech?: string;
}

const { name, desc, url, tech } = Astro.props;

import GithubButton from "../buttons/GithubButton.astro";
---

<li>
  <div class="card p-4 h-full flex flex-col">
    <h5 class="primary-color">{name}</h5>
    <p class="mt-2 secondary-color flex-grow">{desc}</p>
    <div class="mt-4">
      <GithubButton type="star" target={url} />
    </div>
  </div>
</li>
