---
interface Props {
  includeHome?: boolean;
  showIcon?: boolean;
  items: MenuItem[];
}

const { includeHome = true, showIcon = true, items } = Astro.props;
---

<ul>
  {
    includeHome && (
      <li>
        <a class="link" href="/">
          {showIcon && <i class="ri-home-line" />}
          主页
        </a>
      </li>
    )
  }
  {
    items.map((item) => (
      <li>
        <a class="link" href={item.url}>
          {showIcon && <i class={item.icon} />}
          {item.name}
        </a>
      </li>
    ))
  }
</ul>

<style lang="scss">
  ul {
    @apply inline-block;

    li {
      @apply inline-block ml-2;
      &:first-child {
        @apply ml-0;
      }
    }
  }
</style>
