---
interface Props {
  type: "star" | "fork";
  target: string;
}

const { type, target } = Astro.props;
const url = new URL("https://api.github.com/repos/" + target);
let starsCount, forksCount;
try {
  const response = await fetch(url);
  const data = await response.json();
  starsCount = data.stargazers_count ? data.stargazers_count : "?";
  forksCount = data.forks ? data.forks : "?";
} catch(e) {
  console.log(e);
  starsCount = "?";
  forksCount = "?";
}
---

{
  type == "star" && (
    <div id="button-wrapper" class="inline-block">
      <a id="btn" href={"https://github.com/" + target} target="_blank">
        <i class="ri-star-line" />
        &nbsp;
        <span>Star</span>
      </a>{}<a
        id="cnt"
        href={"https://github.com/" + target + "/stargazers"}
        target="_blank"
      >
        {starsCount}
      </a>
    </div>
  )
}
{
  type == "fork" && (
    <div id="button-wrapper" class="inline-block">
      <>
        <a id="btn" href={"https://github.com/" + target + "/fork"} target="_blank">
          <i class="ri-git-fork-line" />
          &nbsp;
          <span>Fork</span>
        </a>{}<a
          id="cnt"
          href={"https://github.com/" + target + "/forks"}
          target="_blank"
        >
          {forksCount}
        </a>
      </>
    </div>
  )
}

<style lang="scss">
  #button-wrapper {
    @apply text-xs font-bold;
    @apply select-none;
  }

  #btn {
    @apply px-2 py-1 inline-flex align-bottom;
    @apply border rounded-s;
    @apply text-gray-700 dark:text-neutral-300; /* primary-color */
    @apply bg-gray-100 dark:bg-neutral-800;
    @apply border-gray-300 dark:border-neutral-700;
    @apply hover:bg-gray-200 dark:hover:bg-neutral-700;
    @apply transition-all;
  }

  #cnt {
    @apply px-2 py-1 inline-flex align-bottom;
    @apply border-y border-r border-gray-300 rounded-e;
    @apply text-gray-700 dark:text-neutral-300;
    @apply bg-white dark:bg-neutral-900;
    @apply border-gray-300 dark:border-neutral-700;
    @apply hover:text-blue-600 transition-all;
  }
</style>
