---

---

<a href="https://notbyai.fyi" target="_blank" class="inline-block mx-1">
  <img
    src="/not-by-ai-light.svg"
    alt="Not By AI Badge"
    class="inline-block h-8 dark:hidden"
  />
  <img
    src="/not-by-ai-dark.svg"
    alt="Not By AI Badge"
    class="h-8 hidden dark:inline-block"
  />
</a>
