---

---

<a href="https://notbyai.fyi" target="_blank" class="inline-block mx-1">
  <img
    src="/not-by-ai-light.svg"
    alt="Not By AI Badge"
    class="badge inline-block dark:hidden"
  />
  <img
    src="/not-by-ai-dark.svg"
    alt="Not By AI Badge"
    class="badge hidden dark:inline-block"
  />
</a>

<style lang="scss">
  .badge {
    @apply h-6;
  }
</style>
