@import "@styles/mixins.scss";

/* 
 * Mixins 定义为 class
 */

.text-primary {
  @include text-primary;
}

.text-secondary {
  @include text-secondary;
}

.text-tertiary {
  @include text-tertiary;
}

.font-kai {
  @include font-kai;
}

/*
 * 根元素定义
 */

:root {
  @apply font-serif;
  font-family: "Noto Serif SC", serif;
  font-size: 16px;
  @screen sm {
    font-size: 16px;
  }
  @screen md {
    font-size: 17px;
  }
  @screen lg {
    font-size: 18px;
  }
}

html {
  @include bg-back;
  @apply scroll-smooth;
}

/*
 * BEM Block 定义
 */

.container {
  @apply mx-auto px-4;

  @apply max-w-md;
  @screen sm {
    @apply max-w-lg;
  }
  @screen md {
    @apply max-w-xl;
  }
  @screen lg {
    @apply max-w-2xl;
  }
  @screen xl {
    @apply max-w-3xl;
  }

  &--wide {
    @apply max-w-lg;
    @screen sm {
      @apply max-w-xl;
    }
    @screen md {
      @apply max-w-2xl;
    }
    @screen lg {
      @apply max-w-3xl;
    }
    @screen xl {
      @apply max-w-5xl;
    }
  }
}

header,
nav,
main,
footer {
  @include text-primary;
}

.header {
  @apply mt-12;
  @extend .container, .container--wide;
  &__heading {
    @apply mt-4 mx-4 text-center;
    @apply sm:hidden;
    @include text-secondary;
  }
}

.navbar {
  @apply py-2 sticky top-0 backdrop-blur-md z-10 transition-all;
  @apply font-thin;
  @include text-secondary;
  &--hidden {
    @apply invisible opacity-0;
  }
  &--sticked {
    @apply visible opacity-100;
    @include bg-front;
    @apply bg-opacity-50 dark:bg-opacity-50;
    @apply shadow-lg;
  }

  &__content {
    @extend .container, .container--wide;
    @apply flex justify-center sm:justify-between flex-wrap;
  }
  &__path {
    @apply m-2 hidden sm:block;
  }
  &__menu {
    @apply m-2;
  }
}

// page 应该应用于 main
.page {
  &__banner-wrapper {
    @include bg-front;
    @apply mt-8;
    @apply h-[30rem];
  }
  &__headpic {
    @apply shadow-lg rounded-lg;
  }
  &__heading {
    @apply leading-relaxed;
  }
  &__divide {
    @apply my-8;
    &--between-sections {
      @extend .container;
    }
  }
  &__meta {
    @apply leading-relaxed mt-4;
    @include text-secondary;
  }
  &__section {
    @extend .container;
    &--wide {
      @extend .container--wide;
    }
    &--width-unlimited {
      @apply max-w-full;
    }
    &--at-top {
      @apply mt-8 sm:mt-32;
    }
    &--after-something {
      @apply mt-16 py-16;
    }
    &--with-padding {
      @apply py-24;
    }
  }
}

.cover {
  @apply min-h-screen;
  @apply flex flex-col justify-center;
  &__heading {
    @apply drop-shadow-xl;
    @apply animate-fade-up animate-ease-in-out animate-duration-[800ms];
  }
  &__subheading {
    @apply drop-shadow-xl;
    @apply mt-4 font-bold;
    @apply animate-fade-up animate-ease-in-out animate-duration-[800ms];
    @include text-secondary;
  }
  &__nav {
    @apply mt-12 font-thin;
    @apply animate-fade-up animate-ease-in-out animate-duration-[800ms];
    @include text-tertiary;
  }
  &__hint {
    @apply mt-2 font-thin;
    @include text-tertiary;
    &--fade-in {
      @apply animate-fade-up animate-ease-in-out animate-duration-[800ms];
    }
  }
  &__warning {
    @apply mt-2;
  }
}

.banner {
  @apply container container--wide h-full px-4 flex flex-col justify-center items-center sm:items-start;
  &__heading {
    @apply mt-4;
  }
  &__caption {
    @apply mt-4 text-secondary;
  }
}

// 博客文章列表底部的「上一页 / 下一页」组件
.paginator {
  @apply flex;
  @include text-secondary;
  &__left {
    @apply basis-1/3 text-left;
  }
  &__center {
    @apply basis-1/3 text-center;
  }
  &__right {
    @apply basis-1/3 text-right;
  }
}

.card {
  @include bg-front;

  @apply rounded-xl p-4;

  @apply shadow-md;
  // 注意：apply shadow-md 时，Tailwind 设置了默认的颜色
  // 诸如 shadow-gray-200 这样的 util 通过变量覆盖上述颜色
  // 但是，如果使用 extend，则被 extend 的变量反而会被覆盖（优先级更低）
  // 所以，不要使用 extend，全部使用 mixin / include
  @include shadow-front;

  // 在一段文字中插入信息的 card 组件
  &--in-content {
    @apply p-2 leading-relaxed;
  }

  // 专门用于 Bento 的 card 组件
  &--bento {
    @apply flex flex-col justify-center relative;
    @apply rounded-2xl;
  }
  &--align-center {
    @apply items-center;
  }
  &--with-image {
    @apply bg-center bg-cover bg-no-repeat bg-blend-overlay text-white;
    background-color: rgb(100, 100, 100);
  }

  &--clickable {
    @apply cursor-pointer transition-all;
    &:hover {
      @include hover-front;
    }
    &:active {
      @apply shadow-none;
      @include active-front;
      transform: scale(0.98);
    }
  }
}

// 严格来说，这不是 block
.link {
  @apply transition-all cursor-pointer;
  @apply underline decoration-transparent;
  &--with-underline {
    @apply decoration-inherit;
  }
  &:hover {
    @apply decoration-inherit;
  }
}

/* 页面主标题 */
h1 {
  @apply text-5xl font-black leading-tight drop-shadow-xl;
}

/* 分节标题 */
h2 {
  @apply text-4xl font-black leading-snug drop-shadow-xl;
}

/* 展示信息 */
h3 {
  @apply text-3xl font-bold leading-snug drop-shadow-lg;
}

h4 {
  @apply text-xl font-bold leading-snug;
}

h5 {
  @apply text-lg font-bold leading-snug;
}

hr {
  @include border-back;
}

// 应用 typography 的样式，并进行一些微调
.content {
  @apply prose dark:prose-neutral dark:prose-invert max-w-none;
  img {
    @apply shadow-lg rounded-lg;
    @apply max-h-[600px];
  }
  blockquote {
    @apply not-italic;
    @include font-kai;
    strong,
    b {
      @apply font-bold;
    }
    :before,
    :after {
      content: "";
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply relative;
  }

  &__heading-anchor {
    @apply absolute;
    @apply -top-20;
  }

  // typography 默认将所有 a 都加上下划线
  // 虽然这可以很好地提示用户超链接，但是：
  // 1）当应用于标题时不美观
  // 2）当应用于大量超链接列表时，无必要（因为用户已知道都是超链接）
  // 所以添加此属性，消除默认下划线，改为 hover 下划线
  &__link {
    &--no-underline-by-default {
      @apply decoration-transparent hover:decoration-inherit transition-all;
    }
  }
}

.summary {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-lg mt-0;
  }
}

// 网站中只存在提交评论的表单，所以该 form 只指 comment-form
.form {
  @apply grid gap-4 grid-cols-1 sm:grid-cols-3;
  &__input {
    @apply p-2 rounded-xl transition-all;
    @include bg-back;

    @apply border outline-0;
    @include border-back;

    @apply shadow-inner;
    @include shadow-front;

    @include text-primary;
  }

  &__checkbox {
    @apply appearance-none;
  }

  &__button {
    @apply p-2 rounded-xl transition-all;
    @include bg-front;

    @apply shadow-md;
    @include shadow-front;

    &:hover {
      @include hover-front;
    }
    &:active {
      @apply shadow-none;
      @include active-front;
      transform: scale(0.98);
    }
    &:disabled {
      @apply shadow-none border;
      @include border-back;
      @include bg-back; // 待修改
      @include text-tertiary;
    }
  }
}

.selections {
  @apply flex flex-wrap mt-8;
  @extend .content;
  &__group {
    @apply basis-full sm:basis-1/2 px-2;
    h2 {
      @apply mt-2;
    }
  }
}

.footer {
  @apply mt-16 py-8 text-sm;
  @include text-secondary;
  @extend .container, .container--wide;
  &__row {
    @apply flex justify-between flex-wrap;
  }
  &__divide {
    @apply my-4;
  }
}
