---
import Layout from "../layouts/Layout.astro";
import FriendsCards from "../components/friends/FriendsCards.astro";
---

<Layout title="Friends">
  <main>
    <section class="wide-container mt-8">
      <h1 class="text-center">朋友们</h1>
      <hr class="container my-4" />
      <FriendsCards />
    </section>
  </main>
</Layout>
