---
import FriendsCards from "../components/friends/FriendsCards.astro";

import Page from "../layouts/Page.astro";
---

<Page title="友人" heading="友谊地久天长。" caption="SkyWT 的朋友们。">
  <FriendsCards />

  <section class="container mt-16 py-16">
    <h2>关于友情链接</h2>
    <div class="mt-8 content">
      <p>
        目前，本站只添加熟悉的朋友的链接，<b>暂不接受直接的友链申请。</b
        >我认为如果「友链」只是纯粹地交换网站链接，甚至于用脚本自动化这一过程，则毫无意义。
      </p>
      <p>
        如果你感兴趣，不妨发封邮件和我打个招呼吧。你的故乡是哪里？最近在做什么有趣的事？我很期待认识新朋友。
      </p>
      <p>互联网让天涯海角的我们能够听见彼此的声音，这很神奇。</p>
    </div>
  </section>
</Page>
