---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import FriendsCards from "../components/friends/FriendsCards.astro";
---

<Layout title="Friends">
  <main>
    <section class="wide-container">
      <FriendsCards />
    </section>
  </main>
</Layout>
