---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
import Bento from "../components/bento/Bento.astro";
import ProjectsCards from "../components/projects/ProjectsCards.astro";
import SocialLinks from "../components/socials/SocialLinks.astro";
import GithubButton from "../components/buttons/GithubButton.astro";
---

<Layout title="SkyWT" includeHeader={false}>
  <main>
    <section class="container min-h-screen flex flex-col justify-center">
      <!-- <div
        class="absolute top-0 right-0 h-screen -z-10 transform-gpu overflow-hidden w-full blur-3xl"
        aria-hidden="true"
      >
        <div
          class="aspect-[1020/880] w-[55rem] flex-none sm:right-1/4 sm:translate-x-1/2 dark:hidden bg-gradient-to-tr from-green-400 to-purple-300 opacity-40"
          style="clip-path: polygon(100% 0px, 90% 55%, 70% 100%, 50% 50%, 0px 20%, 50% 0px);"
        >
        </div>
      </div> -->
      <h1 class="drop-shadow-xl primary-color fade-in">
        <span>✨ Passion <br /> Never Fails.</span>
      </h1>
      <h4 class="mt-4 font-bold drop-shadow-xl secondary-color fade-in">
        热爱与激情永不止息。
      </h4>

      <div class="mt-12 font-thin tertiary-color fade-in">
        <span class="mr-2">SkyWT</span>
        <Menu includeHome={false} />
      </div>
      <p id="scroll-hint" class="mt-2 font-thin tertiary-color opacity-0">
        <i class="ri-mouse-line"></i>
        滚动滚轮或滑动触控板继续浏览
        <i class="ri-arrow-down-line"></i>
      </p>
      <script>
        const showScrollHint = () => {
          let scrollHintEle = document.querySelector(
            "#scroll-hint",
          ) as HTMLElement;
          scrollHintEle.classList.add("fade-in");
          scrollHintEle.classList.remove("opacity-0");
        };
        setTimeout(showScrollHint, 5000);
      </script>
      <p id="too-small-hint" class="mt-2 primary-color">
        <i class="ri-alert-line"></i> 本站针对屏幕宽度不小于 320 像素的设备设计。您的屏幕太小，页面可能无法正常显示。
      </p>
    </section>

    <section class="my-8 py-20 bg-gray-100 dark:bg-neutral-900">
      <Bento />
    </section>

    <section>
      <h3 class="text-center">这里应该放点什么东西。</h3>
    </section>

    <section class="my-8 py-20 bg-gray-100 dark:bg-neutral-800">
      <div class="wide-container text-center">
        <p class="secondary-color">简洁优雅的 Typecho 博客主题</p>
        <h2 class="my-4 primary-color">Daydream</h2>
        <div class="my-8">
          <GithubButton type="star" target="Skywt2003/Daydream" />
          <GithubButton type="fork" target="Skywt2003/Daydream" />
        </div>

        <div class="my-8">
          <img
            src="/daydream_pc_light.png"
            alt="Daydream Typecho Blog Theme Screenshot (Light Mode)"
            class="shadow-lg rounded-2xl dark:hidden"
          />
          <img
            src="/daydream_pc_dark.png"
            alt="Daydream Typecho Blog Theme Screenshot (Dark Mode)"
            class="shadow-lg rounded-2xl shadow-neutral-900 hidden dark:block"
          />
        </div>
      </div>
    </section>

    <section class="my-8 py-20 bg-gray-100 dark:bg-neutral-900">
      <div class="wide-container">
        <h3 class="m-6 primary-color">只是为了好玩……</h3>
        <ProjectsCards />
      </div>
    </section>

    <!-- <hr class="container py-8" />
  <section class="wide-container my-8 py-20">
    <h3 class="m-6 primary-color">友谊地久天长。</h3>
    <Friends />
  </section> -->

    <section class="wide-container my-8 py-20">
      <h3>导航</h3>
      <SocialLinks />
    </section>

    <hr class="container py-8" />
    <section class="container my-8 py-20">
      <div>
        <h2 class="my-6 primary-color">关于本站</h2>
        <p id="uptime">载入时间中……</p>
        <script>
          const uptime = document.getElementById("uptime") as HTMLElement;
          const now = new Date();
          const grt = new Date("12/11/2017 11:00:00");
          const getUptime: () => void = () => {
            now.setTime(now.getTime() + 250);
            const diff = now.getTime() - grt.getTime();
            const dnum = Math.floor(diff / 1000 / 60 / 60 / 24);
            const hnum = Math.floor(diff / 1000 / 60 / 60 - 24 * dnum);
            const mnum = Math.floor(
              diff / 1000 / 60 - 24 * 60 * dnum - 60 * hnum,
            );
            const snum = Math.round(
              diff / 1000 - 24 * 60 * 60 * dnum - 60 * 60 * hnum - 60 * mnum,
            );

            uptime.innerText =
              "本站已运行 " +
              dnum.toString() +
              " 天 " +
              hnum.toString() +
              " 小时 " +
              mnum.toString() +
              " 分 " +
              snum.toString() +
              " 秒。";
          };
          setInterval(getUptime, 250);
        </script>
        <p class="mt-2">（此处应该写一段看起来高端的话）</p>
        <p class="mt-2">查看设计手记（此处应该有一个超链接）</p>
      </div>
    </section>
  </main>
</Layout>

<style>
  .fade-in {
    @apply animate-fade-up animate-ease-in-out animate-duration-[800ms];
  }

  #scroll-hint {
    @apply hidden;
  }

  @screen md {
    #scroll-hint {
      @apply block;
    }
  }

  @media (min-width: 320px) {
    #too-small-hint {
      @apply hidden;
    }
  }
</style>
