---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
import Bento from "../components/bento/Bento.astro";
import ProjectsCards from "../components/projects/ProjectsCards.astro";
import SocialLinks from "../components/socials/SocialLinks.astro";
import GithubButton from "../components/buttons/GithubButton.astro";
---

<Layout title="SkyWT" includeHeader={false}>
  <main>
    <section>
      <div class="container min-h-screen flex flex-col justify-center">
        <h1 class="drop-shadow-xl primary-color fade-in">
          <span>✨ Passion <br /> Never Fails.</span>
        </h1>
        <h4 class="mt-4 font-bold drop-shadow-xl secondary-color fade-in">
          热爱与激情永不止息。
        </h4>
        <div class="mt-12 font-thin tertiary-color fade-in">
          <span class="mr-2">SkyWT</span>
          <Menu includeHome={false} />
        </div>
        <p id="scroll-hint" class="mt-2 font-thin tertiary-color opacity-0">
          <i class="ri-mouse-line"></i>
          滚动滚轮或滑动触控板继续浏览
          <i class="ri-arrow-down-line"></i>
        </p>
        <script>
          const showScrollHint = () => {
            let scrollHintEle = document.querySelector(
              "#scroll-hint",
            ) as HTMLElement;
            scrollHintEle.classList.add("fade-in");
            scrollHintEle.classList.remove("opacity-0");
          };
          setTimeout(showScrollHint, 5000);
        </script>
        <p id="too-small-hint" class="mt-2 primary-color">
          <i class="ri-alert-line"></i> 本站针对屏幕宽度不小于 320 像素的设备设计。您的屏幕太小，页面可能无法正常显示。
        </p>
      </div>
      <!-- <div
        class="absolute top-0 right-0 h-screen -z-10 transform-gpu overflow-hidden w-full blur-3xl"
        aria-hidden="true"
      >
        <div
          class="aspect-[1020/880] w-[55rem] flex-none sm:right-1/4 sm:translate-x-1/2 dark:hidden bg-gradient-to-tr from-green-400 to-purple-300 opacity-40"
          style="clip-path: polygon(100% 0px, 90% 55%, 70% 100%, 50% 50%, 0px 20%, 50% 0px);"
        >
        </div>
      </div> -->
    </section>

    <hr class="container" />

    <section class="my-8">
      <Bento />
    </section>

    <!-- <section class="py-20 bg-white dark:bg-neutral-800">
      <h3 class="text-center">这里应该放点什么东西。</h3>
    </section> -->

    <!-- <section class="my-8 py-20 bg-gray-100 dark:bg-neutral-900">
      <div class="wide-container text-center">
        <p class="secondary-color">简洁优雅的 Typecho 博客主题</p>
        <h2 class="my-4 primary-color">Daydream</h2>
        <div class="my-8">
          <GithubButton type="star" target="Skywt2003/Daydream" />
          <GithubButton type="fork" target="Skywt2003/Daydream" />
        </div>

        <div class="my-8">
          <img
            src="/daydream_pc_light.png"
            alt="Daydream Typecho Blog Theme Screenshot (Light Mode)"
            class="shadow-lg rounded-2xl dark:hidden"
          />
          <img
            src="/daydream_pc_dark.png"
            alt="Daydream Typecho Blog Theme Screenshot (Dark Mode)"
            class="shadow-lg rounded-2xl shadow-neutral-900 hidden dark:block"
          />
        </div>
      </div>
    </section> -->

    <hr class="container" />

    <section class="my-8 bg-gray-100 dark:bg-neutral-900">
      <div class="wide-container">
        <h2 class="m-6 primary-color">只是为了好玩……</h2>
        <ProjectsCards />
      </div>
    </section>

    <!-- <hr class="container py-8" />
  <section class="wide-container my-8 py-20">
    <h3 class="m-6 primary-color">友谊地久天长。</h3>
    <Friends />
  </section> -->

    <!-- <hr class="container" /> -->

    <!-- <section class="wide-container my-8">
      <div class="primary-color flex flex-wrap">
        <div class="basis-full sm:basis-1/2 p-4">
          <h3 class="text-center">博客文章</h3>
          <div class="card p-4 mt-4">最新文章</div>
          <div class="card p-4 mt-4">全部文章</div>
          <div class="card p-4 mt-4">订阅博客</div>
        </div>
        <div class="basis-full sm:basis-1/2 p-4 sm:border-l">
          <h3 class="text-center">实验室</h3>
        </div>
      </div>
    </section> -->

    <hr class="container" />

    <section class="container my-8">
      <div class="primary-color">
        <h2 class="my-6">关于本站</h2>
        <p class="mt-2">欢迎来到 skywt.cn，这是我在信息汪洋里的一个家。</p>
        <p class="mt-2">
          几乎每年，我都会使用新的技术重新设计我的网站。你现在看到的是 2024
          版。这一版本由 Astro、TypeScript、Tailwind.css 等技术驱动，由
          ChatGPT、Copilot
          等协助编写。感谢这些技术让开发体验变得如此优雅和美妙。
        </p>
        <p class="mt-2">
          从创建至今，这个网站已运行
          <span id="uptime"></span>
        </p>
        <!-- <p class="mt-2">查看设计手记，或者看看 2022 版和 2021 版。</p> -->
      </div>

      <script>
        const uptime = document.getElementById("uptime") as HTMLElement;
        const now = new Date();
        const grt = new Date("12/11/2017 11:00:00");
        const getUptime: () => void = () => {
          now.setTime(now.getTime() + 250);
          const diff = now.getTime() - grt.getTime();
          const dnum = Math.floor(diff / 1000 / 60 / 60 / 24);
          const hnum = Math.floor(diff / 1000 / 60 / 60 - 24 * dnum);
          const mnum = Math.floor(
            diff / 1000 / 60 - 24 * 60 * dnum - 60 * hnum,
          );
          const snum = Math.round(
            diff / 1000 - 24 * 60 * 60 * dnum - 60 * 60 * hnum - 60 * mnum,
          );

          uptime.innerText =
            dnum.toString() +
            " 天 " +
            hnum.toString() +
            " 小时 " +
            mnum.toString() +
            " 分 " +
            snum.toString() +
            " 秒。";
        };
        setInterval(getUptime, 250);
      </script>
    </section>
  </main>
</Layout>

<style>
  .fade-in {
    @apply animate-fade-up animate-ease-in-out animate-duration-[800ms];
  }

  #scroll-hint {
    @apply hidden;
  }

  @screen md {
    #scroll-hint {
      @apply block;
    }
  }

  @media (min-width: 320px) {
    #too-small-hint {
      @apply hidden;
    }
  }

  p {
    @apply leading-relaxed;
  }

  hr {
    @apply my-16;
  }
</style>
