---
import Layout from "../layouts/Layout.astro";

import ServicesCards from "../components/labs/ServicesCards.astro";
---

<Layout title="Friends" path={["实验室"]}>
  <main>
    <section class="mt-8">
      <div class="bg-white dark:bg-neutral-800 h-[30rem]">
        <div
          class="wide-container h-full px-4 flex flex-col justify-center items-center sm:items-start"
        >
          <h1 class="my-6">实验室</h1>
          <!-- <h5 class="secondary-color">SkyWT 实验室。</h5> -->
        </div>
      </div>
      <article class="wide-container">
        <ServicesCards />
      </article>
    </section>
  </main>
</Layout>

<style lang="scss" is:global>
  h2 {
    @apply my-8;
  }
</style>
