---
import ServicesCards from "../components/labs/ServicesCards.astro";

import Page from "../layouts/Page.astro";
---

<Page
  title="实验室"
  heading="生命不息，折腾不止。"
  caption="我自托管的各种开源服务。"
>
  <p class="secondary-color text-center mt-16">
    <span class="mr-4">
      <span class="bg-green-500 rounded-full w-2 h-2 inline-block align-middle"
      ></span>
      29 运行中
    </span>
    <span class="mr-4">
      <span class="bg-yellow-500 rounded-full w-2 h-2 inline-block align-middle"
      ></span>
      2 暂时关闭
    </span>
    <span>
      <span class="bg-red-500 rounded-full w-2 h-2 inline-block align-middle"
      ></span>
      0 故障
    </span>
  </p>
  <ServicesCards />
</Page>
