---
import ServicesCards from "@components/labs/ServicesCards.astro";
import Page from "@layouts/Page.astro";
import services_yml from "@configs/services.yml";

let running = 0,
  stopped = 0,
  error = 0;

services_yml.groups.map((group) => {
  group.services.map((service) => {
    switch (service.status) {
      case "running":
        running++;
        break;
      case "stopped":
        stopped++;
        break;
      case "error":
        error++;
        break;
      default:
        running++;
        break;
    }
  });
});
---

<Page
  title="实验室"
  heading="生命不息，折腾不止。"
  caption="我自托管的各种开源服务。"
>
  <p class="text-secondary text-center mt-16">
    <span class="mr-4">
      <span class="bg-green-500 rounded-full w-2 h-2 inline-block align-middle"
      ></span>
      {running} 运行中
    </span>
    <span class="mr-4">
      <span class="bg-yellow-500 rounded-full w-2 h-2 inline-block align-middle"
      ></span>
      {stopped} 暂时关闭
    </span>
    <span>
      <span class="bg-red-500 rounded-full w-2 h-2 inline-block align-middle"
      ></span>
      {error} 故障
    </span>
  </p>
  <ServicesCards groups={services_yml.groups} />

  <section class="container mt-16 py-16">
    <h2>什么是 Self-hosting？</h2>
    <div class="mt-8 content">
      <p>Self-hosting 即「自托管」，将开源的服务部署在自己的服务器上。</p>
      <p>
        如此，我们能够获得对数据完全的掌控，甚至也能基于现有项目二次开发，让应用呈现出我们想要的样子。虽然需要自己负责运维，但容器化技术的出现大大简化了运维过程。
      </p>
      <p>
        我觉得 self-hosting 是一件挺酷的事情。毕竟，<b
          >互联网本就该有属于我们自己的一部分。</b
        >
      </p>
    </div>
  </section>
</Page>
