---
import Layout from "../layouts/Layout.astro";

import ThemeToggle from "../components/ThemeToggle.astro";
import SocialLinks from "../components/SocialLinks.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>First Heading 一级标题</h1>
    <h2>Second Heading 二级标题</h2>
    <h3>Third Heading 三级标题</h3>
    <h4>Forth Heading 四级标题</h4>
    <ThemeToggle />
    <SocialLinks />
  </main>
</Layout>
