---

---

<!-- TODO: dynamic setting BY/NC/SA/ND -->
<div class="inline-block mx-1">
  <a href="https://creativecommons.org/licenses/by-nc/4.0/?ref=chooser-v1">
    <img class="inline-block w-6 h-6" src="/cc/cc.svg" />
    <img class="inline-block w-6 h-6" src="/cc/by.svg" />
    <img class="inline-block w-6 h-6" src="/cc/nc.svg" />
  </a>
</div>
