---
import Menu from "./menu/Menu.astro";

interface Props {
  path?: string[];
}

const { path = [] } = Astro.props;
---

<header class="mt-12 wide-container">
  <h5 class="mt-4 mx-4 secondary-color sm:hidden text-center">
    SkyWT
    {path.map((pathItem) => <span> / {pathItem}</span>)}
  </h5>
</header>

<nav
  class="py-2 font-thin sticky top-0 backdrop-blur-md z-10 transition-all"
  id="navbar-wrapper"
>
  <div class="wide-container flex justify-center sm:justify-between flex-wrap">
    <h5 class="m-2 hidden sm:block secondary-color">
      <a href="/" class="link">SkyWT</a>
      {path.map((pathItem) => <span> / {pathItem}</span>)}
    </h5>
    <div class="m-2 secondary-color">
      <Menu />
    </div>
  </div>
</nav>

<script is:inline>
  const headerEl = document.querySelector("#navbar-wrapper");
  const sentinalEl = document.querySelector("header");
  const handler = (entries) => {
    if (!entries[0].isIntersecting) {
      headerEl.classList.add("sticked");
    } else {
      headerEl.classList.remove("sticked");
    }
  };
  const observer = new window.IntersectionObserver(handler);
  observer.observe(sentinalEl);
</script>

<style lang="scss">
  .sticked {
    @apply bg-white bg-opacity-50 dark:bg-neutral-800 dark:bg-opacity-50;
    @apply shadow-lg;
  }
</style>
