---
import Path from "@components/Path.astro";
import Navbar from "./Navbar.astro";

interface Props {
  pathItems: PathItem[];
  menuItems: MenuItem[];
}

const { pathItems, menuItems } = Astro.props;
---

<header class="mt-12 container container--wide">
  <h5 class="mt-4 mx-4 text-secondary sm:hidden text-center">
    <Path items={pathItems} />
  </h5>
</header>

<Navbar pathItems={pathItems} menuItems={menuItems} />
