---
import Menu from "./menu/Menu.astro";

interface Props {
  path?: string[];
}

const { path = [] } = Astro.props;
---

<header class="mt-12 wide-container">
  <h5 class="mt-4 mx-4 secondary-color">
    SkyWT
    {path.map((pathItem) => <span> / {pathItem}</span>)}
  </h5>
</header>

<nav
  class="py-4 font-thin tertiary-color sticky top-0 backdrop-blur-md z-10 transition-all"
  id="navbar-wrapper"
>
  <div class="wide-container flex relative">
    <div class="mx-4">
      <Menu />
    </div>
    <!-- <p id="navbar-brand" class="absolute left-4 font-bold hidden">
      <a href="/" class="link">SkyWT</a>
    </p> -->
    <!-- <p class="absolute right-4">SkyWT</p> -->
  </div>
</nav>

<script is:inline>
  const headerEl = document.querySelector("#navbar-wrapper");
  const sentinalEl = document.querySelector("header");
  const handler = (entries) => {
    console.log(entries);
    if (!entries[0].isIntersecting) {
      headerEl.classList.add("sticked");
    } else {
      headerEl.classList.remove("sticked");
    }
  };
  const observer = new window.IntersectionObserver(handler);
  observer.observe(sentinalEl);
</script>

<style lang="scss">
  .sticked {
    @apply bg-white bg-opacity-50 dark:bg-neutral-800 dark:bg-opacity-50;
    @apply shadow-lg;

    #navbar-brand {
      display: block;
    }
  }
</style>
