---
import Menu from "./menu/Menu.astro";
---

<header class="container mt-12">
  <h1 class="mt-6">SkyWT</h1>
  <h4 class="mt-4 secondary-color">Subtitle</h4>
</header>

<div
  class="py-4 font-thin tertiary-color sticky top-0 backdrop-blur-md flex justify-center"
>
  <Menu />
</div>
