---
interface Props {
  url: string;
}

const { url } = Astro.props;
---

<li>
  <a href={url}>
    <div class="card h-full clickable p-2 flex flex-row items-center relative">
      <div class="absolute top-1 right-2 text-sm">
        <i class="ri-external-link-line"></i>
      </div>
      <slot />
    </div>
  </a>
</li>
