---
interface Props {
  includeHome?: boolean;
}

const { includeHome = true } = Astro.props;
---

<ul>
  {
    includeHome && (
      <li>
        <a class="link" href="/">
          <i class="ri-newspaper-line" />
          Home
        </a>
      </li>
    )
  }

  <li>
    <a class="link" href="https://blog.skywt.cn/">
      <i class="ri-newspaper-line"></i>
      Blog
    </a>
  </li>
  <li>
    <a class="link" href="/lab">
      <i class="ri-server-line"></i>
      Lab
    </a>
  </li>
  <li>
    <a class="link" href="/friends">
      <i class="ri-contacts-line"></i>
      Friends
    </a>
  </li>
  <li>
    <a class="link" href="/about">
      <i class="ri-cup-line"></i>
      About
    </a>
  </li>
</ul>

<style>
  ul {
    @apply inline-block;
  }

  li {
    @apply inline-block ml-2;
  }

  li:first-child {
    @apply ml-0 !important;
  }
</style>
