---
interface Props {
  path: PathItem[];
}

const { path } = Astro.props;
---

<a href="/" class="link">SkyWT</a>
{
  path.map((pathItem) => (
    <span>
      /
      {pathItem.url ? (
        <a href={pathItem.url} class="link">
          {pathItem.title}
        </a>
      ) : (
        pathItem.title
      )}
    </span>
  ))
}
