---

---

<ul>
  <li>
    <i class="ri-mail-fill"></i>
  </li>
  <li>
    <i class="ri-fingerprint-fill"></i>
  </li>
  <li>
    <i class="ri-github-fill"></i>
  </li>
  <li>
    <i class="ri-telegram-fill"></i>
  </li>

  <li>
    <i class="ri-twitter-fill"></i>
  </li>
  <li>
    <i class="ri-qq-fill"></i>
  </li>
</ul>
<style>
  li {
    @apply inline-block;
  }
</style>
