---
interface Props {
  name: string;
  desc: string;
  url: string;
  avatar: string;
}

const { name, desc, url, avatar } = Astro.props;
---

<li class="p-4 basis-full sm:basis-1/2 lg:basis-1/3">
  <a href={url}>
    <div class="card card-clickable p-4 flex flex-row items-center relative">
      <div class="absolute top-1 right-2 text-sm">
        <i class="ri-external-link-line"></i>
      </div>
      <img src={avatar} class="w-16 m-4 rounded-full" />
      <div>
        <h5 class="primary-color">{name}</h5>
        <p class="mt-2 secondary-color">{desc}</p>
      </div>
    </div>
  </a>
</li>
