---
import LinkCard from "@components/LinkCard.astro";

interface Props {
  name: string;
  app: string;
  url: string;
  method: string;
  status?: string;
}

const { name, app, url, method, status = "running" } = Astro.props;
---

<LinkCard url={url}>
  <div class="absolute bottom-1 right-3 text-sm">
    {
      status == "running" && (
        <span class="bg-green-500 rounded-full w-2 h-2 inline-block align-middle" />
      )
    }
    {
      status == "stopped" && (
        <span class="bg-yellow-500 rounded-full w-2 h-2 inline-block align-middle" />
      )
    }
    {
      status == "error" && (
        <span class="bg-red-500 rounded-full w-2 h-2 inline-block align-middle" />
      )
    }
  </div>

  <div>
    <h5>{name}</h5>
    <p class="mt-1 text-sm">
      {app} / {method}
    </p>
  </div>
</LinkCard>
