---
interface Props {
  bg_image: string;
  dim?: boolean;
}

// 如果使用半透明来压混，会出现夜间模式颜色不一致
const { bg_image, dim = true } = Astro.props;
---

<div
  id="inner-wrapper"
  class=`absolute all-0 m-2 sm:m-4 flex flex-col justify-center bento-border${dim?" dim":""}`
>
  <slot />
</div>

<style define:vars={{ bg_image }} lang="scss">
  #inner-wrapper {
    @apply bg-center bg-cover bg-no-repeat bg-blend-overlay text-white;
    background-image: var(--bg_image);
  }

  .dim {
    background-color: rgb(88, 88, 88);
  }
</style>
