---
interface Props {
  bg_image: string;
  lg: [number, number, number, number];
  sm: [number, number, number, number];
  class?: string;
}

// 如果使用半透明来压混，会出现夜间模式颜色不一致
const { bg_image, lg, sm, class: className } = Astro.props;
---

<div
  id="box-wrapper"
  class={"bento-border" + (className ? " " + className : "")}
>
  <slot />
</div>

<style
  define:vars={{
    bg_image,
    lg: lg.join(" / "),
    sm: sm.join(" / "),
  }}
  lang="scss"
>
  #box-wrapper {
    grid-area: var(--sm);
    @screen lg {
      grid-area: var(--lg);
    }
    @apply flex flex-col justify-center p-4 relative;
    @apply bg-center bg-cover bg-no-repeat bg-blend-overlay text-white;
    background-image: var(--bg_image);
    /* background-color: rgb(88, 88, 88); */
    background-color: rgb(100, 100, 100);
  }
</style>
