---
interface Props {
  url?: String;
}

const { url } = Astro.props;
---

<div
  id="inner-wrapper"
  class=`absolute all-0 m-4 flex flex-col justify-center bento-border primary-color bento-bg${url ? " clickable" : " "}`
>
  <slot />
</div>
