---
interface Props {
  top: string;
  left: string;
  width: string;
  height: string;
  smt: string;
  sml: string;
}

const { top, left, width, height, smt, sml } = Astro.props;
---

<div id="outer-wrapper" class="absolute">
  <slot />
</div>

<style
  define:vars={{
    top,
    left,
    width,
    height,
    smt,
    sml,
  }}
  lang="scss"
>
  #outer-wrapper {
    margin-top: var(--smt);
    left: var(--sml);
    width: calc(var(--width) * 2);
    padding-top: calc(var(--height) * 2);
    @screen lg {
      margin-top: var(--top);
      left: var(--left);
      width: var(--width);
      padding-top: var(--height);
    }
  }
</style>
