---

---

<div
  id="inner-wrapper"
  class="absolute all-0 m-2 sm:m-4 flex flex-col justify-center bento-border primary-color bento-bg"
  onclick=""
>
  <div class="text-right p-4">
    <img src="/infj.svg" alt="INFJ" class="absolute left-0 bottom-0 h-[120%]" />
    <p class="absolute top-4 right-4 text-sm secondary-color">
      <i class="ri-user-heart-line"></i> MBTI 人格类型
    </p>
    <h3 class="text-[#33a474]">
      INFJ<br />提倡者
    </h3>
    <a
      href="https://www.16personalities.com/infj-personality"
      class="absolute bottom-4 right-4 text-sm link secondary-color"
      target="_blank"
    >
      了解更多 <i class="ri-external-link-line"></i>
    </a>
  </div>
</div>
