---

---

<div
  id="inner-wrapper"
  class="absolute all-0 m-4 flex flex-col justify-center bento-border tertiary-color"
  onclick=""
>
  <div class="p-4">
    <h3 class="text-center">
      不是一个<br />
      <span class="grayscale">❌</span><br />
      做题家
    </h3>
  </div>
</div>

<style>
  #inner-wrapper {
    @apply transition-all bg-blend-overlay;
    @apply bg-white dark:bg-black;
  }

  #inner-wrapper:hover {
    @apply bg-gradient-to-b from-gray-500 to-gray-700;
    @apply bg-transparent;
    @apply text-white;
  }

  #inner-wrapper:hover span {
    @apply grayscale-0;
  }
</style>
