---
import yml from "./config.yml";

interface SocialLink {
  name: string;
  icon: string;
  id: string;
  url?: string;
}
---

<ul>
  {
    yml.socials.map((social: SocialLink) => (
      <li class="m-2 cursor-pointer primary-color inline-block">
        {social.url ? (
          <a href={social.url} target="_blank">
            <i class={social.icon} />
          </a>
        ) : (
          <i class={social.icon} />
        )}
      </li>
    ))
  }
</ul>
