---
import { api } from "@scripts/functions";

interface Props {
  selections: Selection[];
}

const { selections } = Astro.props;
---

<div class="flex flex-wrap content my-8">
  {
    selections.map((selection) => (
      <div class="basis-full sm:basis-1/2 px-2">
        <h2>{selection.name}</h2>
        <ul>
          {selection.slugs.map(async (slug) => {
            const post = await api.getArticle(slug);
            return (
              <li>
                <a href={"/blog/" + slug} class="no-underline-by-default">
                  {post.title}
                </a>
              </li>
            );
          })}
        </ul>
      </div>
    ))
  }
</div>

<style lang="scss">
  h2 {
    @apply mt-4;
  }
</style>
