---
import Layout from "@layouts/Layout.astro";

interface Props {
  title: string;
  heading: string;
  caption: string;
}

const { title, heading, caption } = Astro.props;
---

<Layout title={title} path={[{ title: title, url: "" }]}>
  <main>
    <section class="mt-8">
      <div class="page-heading">
        <div
          class="container container--wide h-full px-4 flex flex-col justify-center items-center sm:items-start"
        >
          <h1 class="mt-4">{heading}</h1>
          <h5 class="mt-4 text-secondary">{caption}</h5>
        </div>
      </div>
      <div class="container container--wide">
        <slot />
      </div>
    </section>
  </main>
</Layout>
