---
const { frontmatter } = Astro.props;

import Layout from "./Layout.astro";
import Comments from "../components/blog/Comments.astro";

let post: PostDetail | undefined = undefined;

if (frontmatter.typechoSlug) {
  const url = new URL("https://blog.skywt.cn/api/post");
  url.search = new URLSearchParams({
    slug: frontmatter.typechoSlug,
  }).toString();
  const response = await fetch(url);
  const data = await response.json();
  post = data.data;
}
---

<Layout
  title={frontmatter.title}
  includeHeader={true}
  path={[{ title: frontmatter.title, url: "" }]}
>
  <main>
    <section class="container mt-8 sm:mt-32">
      <h1 class="primary-color">{frontmatter.title}</h1>
      <hr class="my-8" />
      <article class="prose dark:prose-neutral dark:prose-invert max-w-none">
        <slot />
      </article>
      {
        frontmatter.typechoSlug && (
          <>
            <hr class="my-8" />
            <Comments
              slug={frontmatter.typechoSlug}
              commentsNum={post ? post.commentsNum : 0}
              permalink={"https://blog.skywt.cn/" + frontmatter.typechoSlug}
            />
          </>
        )
      }
    </section>
  </main>
</Layout>
