---
const { frontmatter } = Astro.props;

import Layout from "./Layout.astro";
import Comments from "../components/blog/Comments.tsx";
---

<Layout
  title={frontmatter.title}
  includeHeader={true}
  path={[{ title: frontmatter.title, url: "" }]}
>
  <main>
    <section class="container mt-8 sm:mt-32">
      <h1 class="primary-color">{frontmatter.title}</h1>
      <hr class="my-8" />
      <article class="content">
        <slot />
      </article>
      {
        frontmatter.typechoSlug && (
          <>
            <hr class="my-8" />
            <Comments
              client:load
              slug={frontmatter.typechoSlug}
              permalink={"https://blog.skywt.cn/" + frontmatter.typechoSlug}
            />
          </>
        )
      }
    </section>
  </main>
</Layout>
